body {
    background-color: #f0f0f0;
}

.warning {
    width: 640px;
    margin: 0 auto 30px;
    color: #e85c51;
}

#wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.parent {
    margin-top: 10px;
    padding: 10px;
    background-color: #dce8f7;
}

.parent .children .parent {
    margin-top: 10px;
}

.parent:first-child {
    margin-top: 0;
}

.parent:hover {
    cursor: move;
}

.child {
    margin-top: 10px;
    padding-left: 10px;
    list-style: none;
    background-color: #fff;
    line-height: 36px;
    font-size: 14px;
}

.parent,
.child,
.children {
    transition: 0.2s;
}

.parent > div {
    height: 0;
    overflow: hidden;
}

.children {
    height: 0;
}

i {
    margin-right: 3px;
    font-size: 20px;
    cursor: pointer;
}

a {
    display: inline-block;
    margin-bottom: 5px;
    color: #0a96ef;
}